<nav>
  <!-- NAV BAR GENERAL DISPLAY -->
  <img src="/images/camera.svg">
  <a href="/">Home</a>
  <!-- DISPLAYS ONLY IF 'USER' IS LOGGED IN (user = true) -->
  <% if (user) { %>
    <p>LOGGED IN SUCCESSFULLY</p>
    <!-- END USER LOGGED IN ONLY DISPLAY -->
  <% } else { %>
    <!-- DISPLAYS IF USER IS NOT LOGGED IN -->
    <a href="/auth/google" class="login">Sign In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  <% } %>
</nav>