<%- include('partials/header.ejs'); -%>


<desk class="desk">
  <h2 class="main-title">MyDesk</h2>
  <a class="board-link" href="/boards">
    <button class="board-button"></button>
  </a>
</desk>

<%- include('partials/footer.ejs'); -%>