<%- include('partials/header.ejs'); -%>


<desk class="desk">
  <init>
    <div class="login-container desk">
      <a href="/logout" class="login">Logout&nbsp;</a>
    </div>
  </init>
  
  <a class="board-link" href="/boards">
    <button class="board-button"></button>
  </a>
</desk>

<%- include('partials/footer.ejs'); -%>