* {
  box-sizing: border-box;
}


body {
  background: rgba(178,148,113,255);
  font: 2vmin "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Libre Baskerville', serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}



main {
  display: flex;
  flex-direction: column;
}

menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vmin;
  border: none;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 4vmin;
}

h3 {
  display: flex;
  justify-content: center;
  margin: 0;
}

.edit-board-title {
  display: none;
}


board {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  height: 6em;
}

footer {
  display: flex;
  align-self: self-end;
}

.board-icon > a{
  display: flex;
  background-color: #b0834f;
  color: rgba(53, 51, 14, 0.781);
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align:center;
  resize: none;
  font-size: 20px;
  text-decoration: none;
} 

.board-icon > a:hover {
  box-shadow: 0 0 8px rgba(53 , 51, 14, 0.8);
}
submenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}


submenu>a{
  font-size: 1.3rem;
  display: flex;
}

.delete-board {
  height: 2em;
  width: 10em;
  background: none;
  border: none;
  margin: 1vmin;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  text-decoration: underline;
}

.title.active .view-board-title {
  display: none;
}

.title.active .edit-board-title {
  display: block;
}


/* ------------ POST-IT PAGE STYLING -------------- */

.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  padding: 4vmin;
  gap: 30px;
  border: 2vmin solid rgba(84, 46, 46, 0.842);
  background-image: url(https://lh3.googleusercontent.com/pw/AIL4fc-eMFim3luZN-Jf9yu6aXXxFZ5dsDKq3BwC3cW-bCTkibbpxTJVn9LYcHcOFgLpxu9xfXnrjNJCSYkA-UO9L9F_A16m6fjk5cQBd6s9o-lIJX-TdGnFflCNnxPqg3TzghQuW0jNQcuu2Lfx7B9qzBYJfg=w1920-h1280-s-no?authuser=0);
  background-size: contain;
  font-family: 'Pangolin', cursive;

}

.post {
  display: flex;
  background-color: #dce284;
  justify-content: center;
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 10px;
  text-align:center;
  resize: none;
  font-size: 10px;
} 

.post-container {
  box-shadow: 0 0 7px rgba(0 , 0, 0, 0.5);
}

.add-post-it {
  justify-content: center;
  align-items: center;
  outline: none;
  background: rgba(0 , 0, 0, 0.2);
  font-size: 120px;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  transition-duration: 0.5s;
}

.show-post {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-shadow: none;
}

.delete-post-button {
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;
  align-self: flex-end;
  height: 40px;
  width: 40px;
  display: none;
  background: none;
  border: none;
  margin: 10px;
}

.X {
  position: absolute;
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: rgba(0,0,0,0.5);
}

p {
  font-size: 18px;
}

.content {
  display: none;
  height: 100%;
}


.post.active .show-post {
  display: none;
}

.edit-post {
  display: none;
  border-radius: 10px;
} 

.post.active .edit-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}


  .edit-textarea {
    display: flex;
    width: 90%;
    height: 120%;
    font-size: 15px;
    resize: none;
    border-radius: 10px;
    background: none;
    border: none;
    margin: 10px;
    text-align: center;
  }

  .update-post-button {
    height: 40px;
    width: 90%;
    text-align: center;
  }



.post:hover .delete-post-button {
  display: block;
  transition-duration: 0.5s;
}

.post-container:hover {
  box-shadow: 0 0 8px rgba(0 , 0, 0, 0.8);
}

.add-post-it:hover {
  background: rgba(0,0,0,0.4);
}

