init {
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.login {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight:500;
  border-radius: 30px;
}

.login img {
  height: 30px;
}

desk > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

.desk {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://lh3.googleusercontent.com/pw/AIL4fc-IQygi-SCK1TqTlnRRaQZPSbybxHy8wvsMhQ1Jbu7Jn2s-XLdl8SOkDhZK6nrbzNDhK5fy2qbIKd94OlZb1tkSttE4tsASj-CBOntA8_hG_BhYe3K1nRC0xpDFT5zYQsCtecsAzOLeD36CeU1orjGMqw=w1932-h1289-s-no?authuser=0);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

desk > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

.login-container{
  width: 100%;
  height: 100vh;
  
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Scale up the board slightly */
  }
  100% {
    transform: scale(1);
  }
}

.board-button {
  position: absolute;
  height: 50%;
  width: 42%;
  top: 0%;
  left: 18%;
  background: none;
  border: 5px solid hsla(121, 88%, 53%, 0.5);
  cursor: pointer;
  animation: pulsate 1.5s infinite;
}

.board-button.paused {
  animation-play-state: paused;
}

.board-button:hover {
  background: rgba(150, 142, 26, 0.5);
  box-shadow: 0 0 8px rgba(0,0, 0, 0.8);
}