<%- include('../partials/header.ejs'); -%>

<main>
  <menu>
    <h1>Choose a Board</h1>
  </menu>
  <submenu>
    <a href="/myDesk">Back to MyDesk</a>
  </submenu>
  <board>
      <% boards.forEach(function(board) { %>
        <div class="board-icon">
          <a href="/boards/<%= board._id %>"><%= board.title %></a>
        </div>
      <% }) %>
      <form action="/boards" method="POST">
        <button class="post add-post-it" type="submit">+</button>
      </form>
    </board>
  </main>

<%- include('../partials/footer.ejs'); -%>


