<%- include('../partials/header.ejs'); -%>

<main>
  <menu>
    <h1>Boards Menu</h1>
  </menu>
  <board>
      <% boards.forEach(function(board) { %>
        <div class="board-icon">
          <a href="/boards/<%= board._id %>"><%= board.title %></a>
        </div>
      <% }) %>
      <form class="post add-post-it" action="/boards" method="POST">
        <button class="post add-post-it" type="submit">+</button>
      </form>
    </board>
  </main>

<%- include('../partials/footer.ejs'); -%>


