<h2>Board</h2>
<div class="board">
  <form id="add_post" action="">
    <input type="text" placeholder="+ Add New Post" id="new-post">
    <button type=""submit>Add +</button>
  </form>

  <div class="columns">
    <div class="posts" id="post">
      <h3 class="category_title">Category</h3>
      <p class="post-it" draggable="true">Post 1</p>
      <p class="post-it" draggable="true">Post 2</p>
      <p class="post-it" draggable="true">Post 3</p>
    </div>
  </div>

</div>